@import url("https://rsms.me/inter/inter.css");
:root {
  --color-light: white;
  --color-dark: #212121;
  --color-signal: #fab700;
  --color-background: var(--color-light);
  --color-text: var(--color-dark);
  --color-accent: var(--color-signal);
  --size-bezel: 0.5rem;
  --size-radius: 4px;
  line-height: 1.4;
  font-family: "Inter", sans-serif;
  font-size: calc(0.6rem + 0.4vw);
  color: var(--color-text);
  background: var(--color-background);
  font-weight: 300;
  padding: 0 calc(var(--size-bezel) * 3);
}

h1,
h2,
h3 {
  font-weight: 900;
}

mark {
  background: var(--color-accent);
  color: var(--color-text);
  font-weight: bold;
  padding: 0 0.2em;
}

.card {
  background: var(--color-background);
  padding: calc(4 * var(--size-bezel));
  margin-top: calc(4 * var(--size-bezel));
  border-radius: var(--size-radius);
  border: 3px solid var(--color-shadow, currentColor);
  box-shadow: 0.5rem 0.5rem 0 var(--color-shadow, currentColor);
}
.card--inverted {
  --color-background: var(--color-dark);
  color: var(--color-light);
  --color-shadow: var(--color-accent);
}
.card--accent {
  --color-background: var(--color-signal);
  --color-accent: var(--color-light);
  color: var(--color-dark);
}
.card *:first-child {
  margin-top: 0;
}

.l-design-widht {
  max-width: 40rem;
  padding: 1rem;
}

.input {
  position: relative;
  display: inline-block;
  width: 100%;
  flex: 1;
}
.input-label {
  position: absolute;
  left: 0;
  top: 0;
  padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * 0.5);
  margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * 0.5);
  background: pink;
  white-space: nowrap;
  transform: translate(0, 0);
  transform-origin: 0 0;
  background: var(--color-background);
  transition: transform 120ms ease-in;
  font-weight: bold;
  line-height: 1.2;
}
.input-field {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 3px solid currentColor;
  padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
  color: currentColor;
  background: transparent;
  border-radius: var(--size-radius);
}
.input-field:not(:-moz-placeholder-shown) + .input-label {
  transform: translate(0.25rem, -65%) scale(0.8);
  color: var(--color-accent);
}
.input-field:not(:-ms-input-placeholder) + .input-label {
  transform: translate(0.25rem, -65%) scale(0.8);
  color: var(--color-accent);
}
.input-field:focus + .input-label,
.input-field:not(:placeholder-shown) + .input-label {
  transform: translate(0.25rem, -65%) scale(0.8);
  color: var(--color-accent);
}

.button-group {
  margin-top: calc(var(--size-bezel) * 2.5);
}

button {
  padding: var(--size-bezel) calc(var(--size-bezel) * 2);
  background: var(--color-accent);
  border: none;
  border-radius: var(--size-radius);
  font-weight: 900;
  margin-left: calc(var(--size-bezel) * 2);
  transition: all 0.2s linear;
}
button[type="reset"] {
  background: var(--color-background);
  font-weight: 200;
}

button:hover {
  cursor: pointer;
  background-color: var(--color-dark);
  color: var(--color-light);
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
}

.hidden {
  display: none;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#app > div {
  margin-top: 20px;
  width: 50%;
}

.todo-container {
  margin-top: 20px;
}

.todo-container > * {
  background-color: var(--color-signal);
  border-radius: 5px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
}

input[type="checkbox"] {
  appearance: none;
  background-color: white;
  margin: 0;
  font: inherit;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em gray;
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.buttons-wrapper {
  display: flex;
}

.head {
  display: flex;
}

@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/

  .head {
    display: block;
  }

  #app > div {
    margin-top: 20px;
    width: 90%;
  }

  .buttons-wrapper {
    margin-top: 5px;
    justify-content: center;
  }
}
